### Agenda

* Review of control flow & Data Type
    - The type keyword
* Ternary operators/Statements
* Collections - Data Access/Modification principles
    - Lists
    - Strings as a collection of characters.
    - Tuples
    - Dictionaries
    - Data and Memory implications
* Loops
    - Range
    - For Loop
    - While Loop
* List/Dict Comprehension

In [5]:
number = 1.0

In [6]:
type(number)

float

In [3]:
string = "Dog"

In [4]:
type(string)

str

In [ ]:
## Ternary Operators - Expressing conditionals on a single line

In [7]:
number = 3

In [8]:
isOdd = "Odd" if (number % 2 != 0) else "Even"

In [9]:
isOdd

'Odd'

In [10]:
## Collections
## List

In [4]:
collection = [1, 1.5, "dog", True, "cat", 24, 100, 4.5]

In [26]:
# Indexing
collection[::-1]

[4.5, 100, 24, 'cat', True, 'dog', 1.5, 1]

In [9]:
collection[2:5]

['dog', True, 'cat']

collection[start: end: step]

In [29]:
# Modification
collection[2:5] = ['pig', False, 'man']

In [30]:
collection

[1, 1.5, 'pig', False, 'man', 24, 100, 4.5]

In [15]:
# Check if an object is in a list
'pig' in collection

False

In [37]:
type(collection)

list

In [38]:
## Tuple

In [2]:
tup = (1, 7.6, False, "Dog")

In [40]:
type(tup)

tuple

In [43]:
tup[2:4]

(False, 'Dog')

In [3]:
tup[1] = 5

TypeError: 'tuple' object does not support item assignment

In [47]:
"Cat" in tup

False

In [48]:
## Dictionary

In [10]:
d = {'dog': 5, 'cat': 3, 'goat': 6}

In [51]:
type(d)

dict

In [12]:
d['goat']

6

In [54]:
# Data Access
d['goat']

6

In [55]:
# Modification
d['goat'] = 24

In [60]:
d['animal'] = {'wild': ['lion', 'tiger'], 'domestic': ['cat', 'dog']}#['lion', 'tiger', 'snake', 'leopard']

In [64]:
d['animal']['wild']

['lion', 'tiger']

In [68]:
'goat' in d

True

In [66]:
d

{'dog': 5,
 'cat': 3,
 'goat': 24,
 'animal': {'wild': ['lion', 'tiger'], 'domestic': ['cat', 'dog']}}

In [16]:
s = "This is a boy"

In [20]:
s[::2]

'Ti saby'

In [74]:
new = 'F' + s[1:]

In [75]:
new

'Fhis is a boy'

In [76]:
collection

[1, 1.5, 'pig', False, 'man', 24, 100, 4.5]

In [82]:
l = collection[:]

In [83]:
l

[1, 1.5, 'pig', False, 'man', 24, 100, 20]

In [84]:
collection[-1] = 4.5

In [85]:
collection

[1, 1.5, 'pig', False, 'man', 24, 100, 4.5]

In [86]:
l

[1, 1.5, 'pig', False, 'man', 24, 100, 20]

In [87]:
# Loops
# For Loops

In [21]:
for element in collection:
    print(element)

1
1.5
dog
True
cat
24
100
4.5

In [90]:
# range

In [26]:
list(range(4,100, 10)) # range(start, end, step)

[4, 14, 24, 34, 44, 54, 64, 74, 84, 94]

In [96]:
# Given a list [1, 7, 13, 34, -7]. Find the sum of the elements.

In [97]:
my_list = [1, 7, 13, 34, -7]
sum = 0
for element in my_list:
    sum = sum + element
    
print(sum)

48

In [98]:
# Given a list [1, 7, 13, 34, -7]. Find the maximum of the elements.

In [99]:
my_list = [1, 7, 13, 34, -7]

maximum = my_list[1]

for element in my_list:
    if element > maximum:
        maximum = element

print(maximum)

34

In [101]:
# Find the sum of the first 1000 numbers:

sum = 0

for element in range(1, 1001):
    sum = sum + element
    
print(sum)

500500

In [1]:
# Find the average of the first 100 odd number
# Find the sum of all odd numbers less than 1000.

In [6]:
## Average of the first 100 odd numbers

sum = 0
count = 0
number = 1

while count < 100:
    if number % 2 == 1: ## check if this is an odd number
        #print(number)
        sum = sum + number
        count = count + 1
    
    number = number + 1
    
average = sum/count
print(sum)
print(count)
print(f'The average of the first 100 odd number is {average}')

10000
100
The average of the first 100 odd number is 100.0

In [7]:
# Find the sum of all the odd numbers less than 1000

sum = 0
for number in range(1000):
    if number % 2 == 1:
        sum += number
        
print(f'The sum of all the odd numbers less than 1000 is {sum}')

The sum of all the odd numbers less than 1000 is 250000

In [8]:
## Average of the first 100 odd numbers - Using the keyword break & pass

sum = 0
count = 0
number = 1

while True:
    if number % 2 == 1: ## check if this is an odd number
        #print(number)
        sum = sum + number
        count = count + 1
    else:
        pass
    number = number + 1
    if count == 100:
        break
    
average = sum/count
print(sum)
print(count)
print(f'The average of the first 100 odd number is {average}')

10000
100
The average of the first 100 odd number is 100.0